/*
body {
    background: rgb(235, 203, 165)
}

h1 {
    color: rgb(133, 10, 126);
    font-weight: bold;
    font-style: italic;
    font-family: sans-serif;
}

label {
    color: rgba(12, 194, 52, 0.815);
    font-weight: bolder;
}

#result {
    color: brown;
}

*/